---
title: {{tit}}
author:
- {{autor}}
variables:
    section-titles: false
#    header-includes: \usepackage{natslides}


toc: true
number-sections: true

---

\newpage
{% for h in hs %}
\begin{center}

    \section{  {{h.title}}  }

    {% if h.author is defined and h.author != '' %}
            {% if h.author|length > 1 %}
                \textit{by}
                {% for a in h.author[:-1] %}
                    {{ a }},
                {% endfor %}
                {{ h.author[-1] }}
            {% else %}
                \textit{by} {{ h.author[0] }}
            {% endif %}
        {% endif %}

     
    {% if h.about is defined and h.about|length > 0 %}
    \fbox{\begin{minipage}{0.9\textwidth}
        \vspace{0.2cm}
        \textbf{\textit{About}}
        \begin{itemize}
        {% for about in h.about %}
            \item \textit{ {{about}} }
        {% endfor %}
        \end{itemize}
    \end{minipage}}
    {% endif %}

$\ast$~$\ast$~$\ast$

\end{center}

\vspace{0.5cm}

\begin{center}
    \begin{minipage}{0.9\textwidth}
        \setlength{\parskip}{0.2cm}
        \setlength{\parindent}{0cm}
        \fontsize{12pt}{14pt}\selectfont
        {{h.corpo}}
    \end{minipage}
\end{center}

{% if h|length > 3 %}
\hypertarget{table-{{ loop.index }}}{}
\begin{table}[h]
    \centering
    \begin{tabular}{|c|c|}
        \hline
        {% for k, v in h.items() if k not in ['title', 'author', 'corpo', 'about'] %}
            \textbf{ {{ k }} } & \textit{ {{ v }} } \\
            \hline
        {% endfor %}
    \end{tabular}
\end{table}

{% endif %}

   
\newpage    
{% endfor %}
