
---
title: {{tit}}
author:
 - remider that i need to pass the author
variables:
    section-titles: false
#    header-includes: \usepackage{natslides}


toc: true
number-sections: true

---
\newpage
# Ancestors Notebook

![]({{cover}})

\newpage
{% for  h in hs %}
## {{h.titulo}}
   {{ h.corpo }}
\newpage    
{% endfor %}

![Foto]({{img}})