---
title: {{tit}}
author:
 - Duarte
 - jj
variables:
    section-titles: false
#    header-includes: \usepackage{natslides}


toc: true
number-sections: true

---
\newpage
# Livro dos antepassados

![]({{cover}})

\newpage
{% for  h in hs %}
## {{h.titulo}}
   {{ h.corpo }}
\newpage    
{% endfor %}

![Foto]({{img}})