---
title: {{tit}}
author:
 - Duarte
 - jj
variables:
    section-titles: false
#    header-includes: \usepackage{natslides}

toc: true

number-sections: true

---

# Livro dos antepassados

[Foto]({{img}})
{% for  h in hs %}
## {{h.titulo}}
   {{ h.corpo }}
{% endfor %}
